* {
  font-family: "Roboto", sans-serif;
}

.books-list {
  list-style-type: none;
  padding: 8px;
  display: none;
  width: 80%;
  border: 2px solid #000;
}

.mainsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

li {
  height: 45px;
  cursor: pointer;
}

button {
  height: 30px;
  width: 70px;
}

li p {
  float: left;
  margin-top: 6px;
}

li button {
  float: right;
}

nav {
  display: flex;
  flex-direction: row;

  /* align-content: center; */
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  border: 1px solid black;
  padding: 0 10px 0 10px;
}

.navbaritems {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* align-content: center; */
  justify-content: space-evenly;
  list-style-type: none;
  gap: 10px;
  margin: 0;
  position: relative;
  top: 13px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-contact-me {
  width: 70%;
}

.contact-h3 {
  text-align: center;
  padding: 25px;
  font-size: 25px;
}

.show-book-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

footer {
  border: 2px solid rgb(0, 0, 0);
  margin: 1%;
  position: fixed;
  background-color: #fff;
  bottom: 0;
  width: 97%;
  height: 2.5rem;
}

.pointer {
  cursor: pointer;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.copyright {
  margin: 0;
  text-align: center;
}

.current {
  color: hsl(182, 25%, 50%);
  text-decoration: underline;

  /* opacity: 0.6; */
}

#bookForm {
  width: 50%;
}

input {
  width: 100%;
  padding: 7px;
}

h1,
h2,
h3,
h4 {
  font-size: 1.5em;
}

.timer {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
